.skills {
    padding-top: 2rem;
}

.skills-container {
    margin-left: 8%;
}

.skills h2 {
    text-align: center;
    margin: 0;
}

.skill {
    margin: 5% 5%;
}

@media only screen and (max-width: 680px) {
    .skills h2 {
        font-size: 1.25rem;
    }

    .skills {
        padding-top: 1rem;
    }

    .skill {
        width: 10%;
        margin: 7% 10%;
    }
}