html {
  --color-primary: rgb(13, 162, 230);
  --color-secondary: rgb(95, 123, 231);
  --color-background: rgb(27, 36, 47);
  --color-second-background: rgb(245, 245, 245);
}

:target {
  scroll-margin-top: 53px;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
